<label>To what degree you follow the Norms?</label>
<div class="form-group">
  
	<div class="radio">
        <label>
           <input type="radio" ng-model="formData.type" value="low" checked>
           Low
        </label>
    </div>
    <div class="radio">
        <label>
            <input type="radio" ng-model="formData.type" value="medium">
            Medium
        </label>
    </div>
      <div class="radio">
        <label>
            <input type="radio" ng-model="formData.type" value="high">
            High
        </label>
    </div> 
</div> 

<div class="form-group row">
<div class="col-xs-6 col-xs-offset-3">
    <a ui-sref="form.teamwork" class="btn btn-block btn-info">
    Next Section <span class="glyphicon glyphicon-circle-arrow-right"></span>
    </a>
</div>
</div>